<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData["Title"]</title>
	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="~/css/site.css">
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="~/css/site.css">
	</environment>
</head>
<body>
	<div class="navbar navbar-expand-sm navbar-fixed-top">
		<div class="container">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav navbar-nav">
					<li class="nav-item"><a class="nav-link" asp-page="/Index">Государственный реестр</a></li>
				</ul>
				@await Html.PartialAsync("_LoginPartial")
			</div>
		</div>
	</div>

	<div class="container body-content">
		@RenderBody()
	</div>
	<div class="navbar navbar-expand-sm fixed-bottom">
		<div class="container">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<span class="mx-auto align-middle copy">&copy; &#171;ООО КВЕРТИ&#187;, 2010-2018</span>
			</div>
		</div>
	</div>

	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="~/js/site.js"></script>
	</environment>
	@RenderSection("Scripts", required: false)
</body>
</html>
